.message-chat {
    position: relative;
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
    width: 100%;
}

.message-chat header {
    padding: 16px 20px;
    background: #4272d7;
}
.message-chat header h4 {
    color: #fff;
    font-size: 1.4rem;
}

#header-chat {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.message-chat .chat-box {
    position: relative;

    height: 450px;
    overflow-y: auto;
    padding: 15px 20px 80px;
}

.message-chat .chat-box .text-welcome {
    position: absolute;
    font-size: 1.8rem;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.chat-box .chat {
    display: flex;
}

.outgoing {
    margin: 10px 0;
    justify-content: flex-end;
}

.chat p {
    color: #fff;
    max-width: 75%;
    background: #4272d7;
    padding: 12px 16px;
    border-radius: 50px;
}

.incoming p {
    background: #f2f2f2;
    color: #000;
    border-radius: 50px;
    margin: 5px 0;
}

.message-chat .chat-input {
    position: absolute;
    display: flex;
    bottom: 0;
    gap: 5px;
    width: 100%;
    background: #fff;
    padding: 5px 20px;
    border-top: 1px solid #ccc;
}

.chat-input textarea {
    height: 60px;
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    background: #fff;
    padding: 16px 15px 16px 0;
    max-height: 150px;
}

.chat-input span {
    cursor: pointer;
    height: 60px;
    line-height: 60px;
    align-self: flex-end;
    visibility: hidden;
}

.chat-input textarea:valid ~ span {
    visibility: visible;
}

.container-name {
    position: relative;
    width: 50px;
    height: 50px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    /* flex: 0 0 auto; */
    text-align: left;
    flex-grow: 1;

}

.container-name__text-message {
    color: #666;
}

.status {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: green;
    border-radius: 50%;
    border: 2px solid white;
}

.user {
    width: 100%;
    height: auto;
    border-radius: 10px;
    background: #fff;
    padding: 10px;
    margin: 0 0 10px 0;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: left;
}

.user:hover {
    background: #5281e7e4;
    color: #fff;
}

.active-user {
    background: #4272d7;
    color: #fff;
}

.active-user .container-name__text-message {
    color: #ffffff80;
}

.img-50 {
    width: 50px;
    height: 50px;
}

.new-message {
    font-weight: bold !important;
    color: black !important;
}

.new-notification {
    width: 15px;
    height: 15px;
    background-color: #2e89ff;
    border-radius: 50%;
    margin-right: 10px;
}

.material-symbols-rounded {
    font-size: 30px !important;
}

.material-symbols-rounded:hover {
    color: #fff;
}